<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ExportSQL.Settings.Oracle.Trigger" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="ExportSQL.Settings.Oracle.View" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="ExportSQL.Settings.Oracle.Function" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="ExportSQL.Settings.Oracle.Procedure" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="ExportSQL.Settings.SQLServer.Trigger" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="ExportSQL.Settings.SQLServer.View" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="ExportSQL.Settings.SQLServer.Function" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="ExportSQL.Settings.SQLServer.Procedure" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="ExportSQL.Settings.Output" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="ExportSQL.Settings.General" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ExportSQL.Settings.Oracle.Trigger" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="ExportSQL.Settings.Oracle.View" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="ExportSQL.Settings.Oracle.Function" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="ExportSQL.Settings.Oracle.Procedure" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="ExportSQL.Settings.SQLServer.Trigger" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="ExportSQL.Settings.SQLServer.View" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="ExportSQL.Settings.SQLServer.Function" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="ExportSQL.Settings.SQLServer.Procedure" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <ExportSQL.Settings.Oracle.Trigger>
      <setting name="CreateSearch" serializeAs="String">
        <value/>
      </setting>
      <setting name="CreateReplace" serializeAs="String">
        <value/>
      </setting>
      <setting name="CreateEnding" serializeAs="String">
        <value>/</value>
      </setting>
      <setting name="DropEnding" serializeAs="String">
        <value>;</value>
      </setting>
      <setting name="DropReplace" serializeAs="String">
        <value/>
      </setting>
    </ExportSQL.Settings.Oracle.Trigger>
    <ExportSQL.Settings.Oracle.View>
      <setting name="CreateSearch" serializeAs="String">
        <value>create view</value>
      </setting>
      <setting name="CreateReplace" serializeAs="String">
        <value>create or replace force view</value>
      </setting>
      <setting name="CreateEnding" serializeAs="String">
        <value>;</value>
      </setting>
      <setting name="DropEnding" serializeAs="String">
        <value>;</value>
      </setting>
      <setting name="DropReplace" serializeAs="String">
        <value/>
      </setting>
    </ExportSQL.Settings.Oracle.View>
    <ExportSQL.Settings.Oracle.Function>
      <setting name="CreateSearch" serializeAs="String">
        <value>create function</value>
      </setting>
      <setting name="CreateReplace" serializeAs="String">
        <value>create or replace function</value>
      </setting>
      <setting name="CreateEnding" serializeAs="String">
        <value>/</value>
      </setting>
      <setting name="DropEnding" serializeAs="String">
        <value>;</value>
      </setting>
      <setting name="DropReplace" serializeAs="String">
        <value/>
      </setting>
    </ExportSQL.Settings.Oracle.Function>
    <ExportSQL.Settings.Oracle.Procedure>
      <setting name="CreateSearch" serializeAs="String">
        <value>create procedure</value>
      </setting>
      <setting name="CreateReplace" serializeAs="String">
        <value>create or replace procedure</value>
      </setting>
      <setting name="CreateEnding" serializeAs="String">
        <value>/</value>
      </setting>
      <setting name="DropEnding" serializeAs="String">
        <value>;</value>
      </setting>
      <setting name="DropReplace" serializeAs="String">
        <value/>
      </setting>
    </ExportSQL.Settings.Oracle.Procedure>
    <ExportSQL.Settings.SQLServer.Trigger>
      <setting name="CreateSearch" serializeAs="String">
        <value>create trigger</value>
      </setting>
      <setting name="CreateReplace" serializeAs="String">
        <value/>
      </setting>
      <setting name="CreateEnding" serializeAs="String">
        <value>go</value>
      </setting>
      <setting name="DropEnding" serializeAs="String">
        <value>go</value>
      </setting>
      <setting name="DropReplace" serializeAs="String">
        <value>IF  EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID('{OBJECT_NAME}'))</value>
      </setting>
    </ExportSQL.Settings.SQLServer.Trigger>
    <ExportSQL.Settings.SQLServer.View>
      <setting name="CreateSearch" serializeAs="String">
        <value>create view</value>
      </setting>
      <setting name="CreateReplace" serializeAs="String">
        <value/>
      </setting>
      <setting name="CreateEnding" serializeAs="String">
        <value>go</value>
      </setting>
      <setting name="DropEnding" serializeAs="String">
        <value>go</value>
      </setting>
      <setting name="DropReplace" serializeAs="String">
        <value>IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID('{OBJECT_NAME}'))</value>
      </setting>
    </ExportSQL.Settings.SQLServer.View>
    <ExportSQL.Settings.SQLServer.Function>
      <setting name="CreateSearch" serializeAs="String">
        <value>create function</value>
      </setting>
      <setting name="CreateReplace" serializeAs="String">
        <value/>
      </setting>
      <setting name="CreateEnding" serializeAs="String">
        <value>go</value>
      </setting>
      <setting name="DropEnding" serializeAs="String">
        <value>go</value>
      </setting>
      <setting name="DropReplace" serializeAs="String">
        <value>IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID('{OBJECT_NAME}'))</value>
      </setting>
    </ExportSQL.Settings.SQLServer.Function>
    <ExportSQL.Settings.SQLServer.Procedure>
      <setting name="CreateSearch" serializeAs="String">
        <value>create procedure</value>
      </setting>
      <setting name="CreateReplace" serializeAs="String">
        <value/>
      </setting>
      <setting name="CreateEnding" serializeAs="String">
        <value>go</value>
      </setting>
      <setting name="DropEnding" serializeAs="String">
        <value>go</value>
      </setting>
      <setting name="DropReplace" serializeAs="String">
        <value>IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID('{OBJECT_NAME}'))</value>
      </setting>
    </ExportSQL.Settings.SQLServer.Procedure>
    <ExportSQL.Settings.Output>
      <setting name="DirectoryName_Functions" serializeAs="String">
        <value>Functions</value>
      </setting>
      <setting name="DirectoryName_Procedures" serializeAs="String">
        <value>Procedures</value>
      </setting>
      <setting name="DirectoryName_Triggers" serializeAs="String">
        <value>Triggers</value>
      </setting>
      <setting name="DirectoryName_Views" serializeAs="String">
        <value>Views</value>
      </setting>
      <setting name="FileName_FunctionsType" serializeAs="String">
        <value>Functions.fnc</value>
      </setting>
      <setting name="FileName_ProceduresType" serializeAs="String">
        <value>Procedures.prc</value>
      </setting>
      <setting name="FileName_TriggersType" serializeAs="String">
        <value>Triggers.trg</value>
      </setting>
      <setting name="FileName_ViewsType" serializeAs="String">
        <value>Views.vw</value>
      </setting>
      <setting name="FileName_SingleFile" serializeAs="String">
        <value>ExportSQL.sql</value>
      </setting>
      <setting name="TextEndOfFile" serializeAs="String">
        <value>End of file</value>
      </setting>
      <setting name="TitleFunctions" serializeAs="String">
        <value>Elenco Funzioni</value>
      </setting>
      <setting name="TitleProcedures" serializeAs="String">
        <value>Elenco Procedure</value>
      </setting>
      <setting name="TitleTriggers" serializeAs="String">
        <value>Elenco Trigger</value>
      </setting>
      <setting name="TitleViews" serializeAs="String">
        <value>Elenco Viste</value>
      </setting>
    </ExportSQL.Settings.Output>
    <ExportSQL.Settings.General>
      <setting name="ExportDrops" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AppendEndOfFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultInputFile" serializeAs="String">
        <value>C:\work\UP\db\Inde\DBLogistica.ddl</value>
      </setting>
      <setting name="DefaultOutputPath" serializeAs="String">
        <value>C:\Users\a.donmez\Desktop</value>
      </setting>
    </ExportSQL.Settings.General>
  </userSettings>
  <applicationSettings>
    <ExportSQL.Settings.Oracle.Trigger>
      <setting name="Regex" serializeAs="String">
        <value>^&gt;&gt;(?&lt;DropStatement&gt;drop trigger (?&lt;Name&gt;\w+)) \|.*?^(?&lt;CreateStatement&gt;create or replace trigger .*?^END;) \|\r\n</value>
      </setting>
    </ExportSQL.Settings.Oracle.Trigger>
    <ExportSQL.Settings.Oracle.View>
      <setting name="Regex" serializeAs="String">
        <value>^&gt;&gt;(?&lt;DropStatement&gt;drop view (?&lt;Name&gt;\w+)) \|.*?^(?&lt;CreateStatement&gt;create view .*?)^\|\r\n</value>
      </setting>
    </ExportSQL.Settings.Oracle.View>
    <ExportSQL.Settings.Oracle.Function>
      <setting name="Regex" serializeAs="String">
        <value>^&gt;&gt;(?&lt;DropStatement&gt;drop function (?&lt;Name&gt;\w+)) \|.*?^(?&lt;CreateStatement&gt;create function .*?as(?&lt;Body&gt;.*?)^END;) \|\r\n</value>
      </setting>
    </ExportSQL.Settings.Oracle.Function>
    <ExportSQL.Settings.Oracle.Procedure>
      <setting name="Regex" serializeAs="String">
        <value>^&gt;&gt;(?&lt;DropStatement&gt;drop procedure (?&lt;Name&gt;\w+)) \|.*?^(?&lt;CreateStatement&gt;create procedure .*?^END;) \|\r\n</value>
      </setting>
    </ExportSQL.Settings.Oracle.Procedure>
    <ExportSQL.Settings.SQLServer.Trigger>
      <setting name="Regex" serializeAs="String">
        <value>^&gt;&gt;(?&lt;DropStatement&gt;drop trigger (?&lt;Name&gt;\w+)) \|.*?^(?&lt;CreateStatement&gt;create trigger .*?^end) \|\r\n</value>
      </setting>
    </ExportSQL.Settings.SQLServer.Trigger>
    <ExportSQL.Settings.SQLServer.View>
      <setting name="Regex" serializeAs="String">
        <value>^&gt;&gt;(?&lt;DropStatement&gt;drop view (?&lt;Name&gt;\w+)) \|.*?^(?&lt;CreateStatement&gt;create view .*?)^\|\r\n</value>
      </setting>
    </ExportSQL.Settings.SQLServer.View>
    <ExportSQL.Settings.SQLServer.Function>
      <setting name="Regex" serializeAs="String">
        <value>^&gt;&gt;(?&lt;DropStatement&gt;drop function (?&lt;Name&gt;\w+)) \|.*?^(?&lt;CreateStatement&gt;create function .*?as(?&lt;Body&gt;.*?)^end) \|\r\n</value>
      </setting>
    </ExportSQL.Settings.SQLServer.Function>
    <ExportSQL.Settings.SQLServer.Procedure>
      <setting name="Regex" serializeAs="String">
        <value>^&gt;&gt;(?&lt;DropStatement&gt;drop procedure (?&lt;Name&gt;\w+)) \|.*?^(?&lt;CreateStatement&gt;create procedure .*?^end) \|\r\n</value>
      </setting>
    </ExportSQL.Settings.SQLServer.Procedure>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
